body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding-left: 10px;
    overflow: hidden;
    font-family:'Courier New', Courier, monospace;
}

.header {
    font-size: 14px;
    text-align: left;
    padding: 0px;
    margin-bottom: 20px;
    margin-left:10px;
    margin-top: 0px;
    display: flex;
    line-height: 0.5px;
}

.variation {
    margin-left: 50px;
    padding: 0px;
}

.links {
    margin-left: 890px;
}

.version-link a{
    padding: 0px;
    color:#ffffff;
}

.version-link a:hover { color: #9f9f9f; }

.poem-container {
    font-family:'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh; 
}